/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

/* APP STYLING */

/* color scheme:
#00ff9d
#caff34
#edf2f7
#e7cf5e */

h1 {
  font-size: 6rem;
  margin: 1rem 1% 2rem;
  text-transform: uppercase;
  font-weight: 700;
}

h2 {
  font-size: 4rem;
  margin: 1rem 1% 2rem;
}

h3 {
  font-size: 2rem;
  margin: 1rem 1%;
}

p {
  font-size: 2rem;
  margin: 1rem 1%;
}

a {
  color: #000000;
}

a:hover {
  background-color: #caff34;
}

nav {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: flex-end;
}

.logo {
  font-weight: 700;
}

nav a {
  text-decoration: none;
  color: #000000;
  font-size: 1.75rem;
  text-transform: uppercase;
  padding: 25px 20px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  -o-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}

nav a:hover {
  background-color: #00ff9d;
}

nav a.active {
  background-color: #caff34;
}

.main-section {
  margin: 50px 0;
}

.loader {
  max-width: 100%;
  margin: 50px 1% 6rem;
}

.oops {
  position: relative;
  width: 100%;
  margin: 100px auto 0;
  padding: 0 1%;
}

.error {
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  text-align: left;
}

.error span {
  color: white;
  font-size: 3rem;
  line-height: 7rem;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

.error span.spacer {
  padding: 0 5px;
}

.error-img {
  max-width: 100%;
}

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem;
  border: none;
}

input,
select {
  width: 100%;
  height: 5rem;
  border: 2px #d0d0d0 solid;
  outline: none;
  padding: 0 2rem;
  font-size: 2rem;

  margin: 0.5rem auto 1.5rem;
}

input::placeholder {
  color: #d0d0d0;
}

label {
  color: #5d5d5d;
  font-size: 1.5rem;
  margin: 1rem 0 0;
  text-align: left;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5rem;
}

.user-type-inputs {
  width: 100%;
}

.user-input {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 250px;
  align-items: center;
  margin: 1rem auto;
}

.user-type-inputs input {
  height: 2rem;
  width: 2rem;
  margin: 0;
}

.user-type-inputs label {
  margin: 0;
}

.org-select {
  margin: 4rem 0 0;
}

.btn {
  height: 50px;
  width: 70%;
  text-align: center;
  -webkit-text-decoration: none;
  text-decoration: none;
  border: none;
  color: #2a2a2a;
  background-color: #00ff9d;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 2.5rem;
  margin: 2rem;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  -o-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
}

.btn:hover {
  background-color: #caff34;
}

.campaign-card {
  max-width: 500px;
  margin: 3rem auto;
  padding: 2rem;
  border: none;
}

.campaign-buttons {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.campaign-buttons .btn {
  height: 50px;
  width: 50px;
  text-align: center;
  -webkit-text-decoration: none;
  text-decoration: none;
  color: #000;
  border: 3px #ffffff solid;
  margin: 2rem;
  padding: 10px 11px;
}

.delete-button {
  background-color: #e6673e;
}

.delete-button:hover {
  background-color: #ffffff;
  color: #e6673e;
  border: 3px #e6673e solid;
}

.edit-button {
  background-color: #e7cf5e;
}

.edit-button:hover {
  background-color: #ffffff;
  color: #e7cf5e;
  border: 3px #e7cf5e solid;
}

.search-bar {
  margin: 6rem 1% 4rem;
}

.search-flex {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  border: 2px #d0d0d0 solid;
}

.search-type {
  width: 150px;
  border: none;
  margin: 0;
}

.search-input {
  border: none;
  margin: 0;
}

.clear-button {
  height: 50px;
  width: 50px;
  padding: 0 16px;
  margin: 0;
}

@media (max-width: 700px) {
  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  nav a {
    width: 100%;
    font-size: 1.5rem;
    padding: 15px 0;
  }

  .main-section {
    margin: 25px 0 50px;
  }

  label {
    font-size: 1.25rem;
  }

  input,
  select {
    height: 4rem;
    padding: 0 0.5rem;
    font-size: 1.75rem;
  }

  .btn {
    height: 40px;
    width: 100%;
    font-size: 2rem;
    margin: 1rem 0 0;
  }

  .campaign-buttons .btn {
    border: none;
    padding: 15px 16px;
  }

  .error {
    top: 70px;
  }

  .error span {
    font-size: 2rem;
    line-height: 6rem;
  }
}
